body {
  background: #1C1B1C;
  font-family: 'League Gothic', Helvetica, arial, sans-serif;
  font-weight: 300;
  color: #F2F0F1;

}

.main {
  width: 100%;
  text-align: center;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  top: 5.5em;

}

header {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 5.5em;
  margin: 0;
  padding: 0;
  background: #1C1B1C;
  text-align: center;
  top: 0;
  z-index: 20;
}

header h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 2em;
  width: 100%;
}

.surf, .bored {
  margin-top: 20px;
}

h1 {
  font-weight: 100;
  font-size: 5em;
  color: #fdaece;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fdaece;
}

a:hover {
  color: #CF6791;
  text-decoration: underline;
}

p {
  font-size: 2em;
  font-family: 'League Gothic', Helvetica, arial, sans-serif;
  font-weight: 200;
  letter-spacing: 0.03333em;
}

footer p {
  font-size: 1.7em;
  padding-bottom: 1em;
}
.target {
    width: 1px; /* '0' will not work for Opera */
    display: inline-block;
    padding-top: 300px;
    margin-top: -300px;
}

@media screen and (min-width: 500px) {
  .bored {
    margin-left: 40px;
  }

  h1 {
    font-size: 10em;
  }
  header {
    height: 11em;
  }
  .main {
    top: 11em;
  }
  .target {
      padding-top: 400px;
      margin-top: -400px;
  }
}

@media screen and (min-width: 1000px) {

  h1 {
    font-size: 18em;
  }
  header {
    height: 19em;
  }
  .target {
      padding-top: 680px;
      margin-top: -680px;
  }
  p {
    font-size: 2.2em;
  }
  .main {
    top: 20em;
  }
  .bored, .surf {
    width: 500px;
    height: 375px;
  }
  .surf {
    height: 375px;
  }
  .elvis {
    width: 245px;
  }
  .lilo {
    width: 321px;
  }
  .owlrat {
    width: 414px;
  }
  .kim {
    width: 340px;
  }
  .zuck {
    width: 329px;
  }
  .woody {
    width: 289px;
  }
  .tyler {
    width: 405px;
  }
}

